.foods{
	background-color: $white;
	text-align: center;
	padding-top: 50px;
	width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    padding-bottom:10px;
    border-bottom: 1px solid $light-grey;

	.dish{
		font-weight: bold;

	}
	.mas{
		color:$pink;
		font-size: 25px;
		font-weight: 400;
	}

	.icon{
		border-radius: 50%;
		background-color: $pink;
		width: 50px;
		height: 50px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		margin-bottom: 10px;

		i{
			text-align: center;
			margin-top: 30%;
			color: $white;
			font-size: 20px;
		}

	}
}

.price{
	text-align: center;
	font-size: 30px;
	color: $pink;
	padding-bottom:10px;
}

.white{
	background-color: $white;
	margin-left: -15px;
	margin-right: -15px;
}

.contact{
	background-color: $pink;
	height: 100px;
	padding-top: 20px;
	text-align: center;
	h2{
		font-size: 20px;
		color: $white;
	}
}