
.comaenpunto{
	margin-left: -15px;
	margin-right: -15px;

	.hero{
		background-image: url("../../img/hero.jpg");
		background-repeat: no-repeat;
		height: 250px;
	}

	.logo{
		float: none;
		margin-right: auto;
		margin-left: auto;
		padding-top: 50px;
		width: 300px;
	}

	.menu{

	}
	.welcome{

	}

}